h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
}
header .fondo {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .opacidad {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, black, transparent);
}
header .encabezado {
  margin-top: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 37px;
}
header .encabezado h1 {
  font-size: 76px;
  line-height: 91px;
  color: white;
}
header .encabezado p {
  font-size: 29px;
  line-height: 155%;
  color: white;
}
@media (max-width: 700px) {
  header .encabezado p {
    font-size: 22px;
  }
}
header .encabezado button {
  background-color: #F4D16F;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 84px;
}

.seccion {
  color: white;
}
.seccion .seccion-contenedores {
  display: flex;
  gap: 20px;
}
.seccion .seccion-contenedores .seccion-contenedores-iconos {
  width: 200px;
  height: 160px;
  border-radius: 5px 50px;
  background: linear-gradient(rgba(4, 90, 160, 0.898), #011B30);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.seccion .seccion-contenedores .seccion-contenedores-iconos i {
  font-size: 42px;
}
.seccion .seccion-contenedores .porcentajes {
  width: 320px;
  height: 280px;
}
.seccion .seccion-contenedores .porcentajes p {
  padding: 0;
  font-size: 25px;
  border: 0;
}
.seccion .seccion-contenedores .porcentajes h3 {
  font-size: 100px;
}
.seccion .container {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.seccion-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.seccion-texto h2 {
  font-size: 50px;
}
.seccion-texto p {
  font-size: 25px;
  border-top: white 1px solid;
  padding-top: 20px;
}
.seccion .seccion-comentarios {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid red;
}
.seccion .seccion-comentarios .degrade-arriba {
  border: 2px solid green;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(180deg, #023660 0%, rgba(2, 54, 96, 0) 100%);
}
.seccion .seccion-comentarios .degrade-abajo {
  border: 2cap solid green;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(-180deg, #023660 0%, rgba(2, 54, 96, 0) 100%);
}
.seccion .seccion-comentarios .seccion-comentarios-contenedores {
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.04) 100%);
}
.seccion .seccion-comentarios .seccion-comentarios-contenedores h3 {
  font-size: 25px;
}
.seccion .seccion-comentarios .seccion-comentarios-contenedores p {
  font-size: 16px;
}
.seccion img {
  width: 650px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.seccion-claro {
  background: linear-gradient(-90deg, rgba(1, 27, 48, 0.898), #045AA0);
}

.seccion-oscuro {
  background: linear-gradient(90deg, rgba(1, 27, 48, 0.898), #045AA0);
}/*# sourceMappingURL=style.css.map */